<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Make a Madlib</h1>

    <form action="/input">
        <input type="text" placeholder="place" name="place">
        <input type="text" placeholder="adjective" name="adjective">
        <input type="text" placeholder="noun" name="noun">
        <input type="text" placeholder="verb" name="verb">
        <input type="text" placeholder="plural noun" name="plural_noun">
        <button>Submit</button>
    </form>
</body>
</html>